
.result {
	display:flex;
	width: 400px;
}

.card {
	width: 300px;
	margin: 30px;
}

.card-image {
	display: block;
	width: 200px;
	height: 200px;
}

.resultDiv {
	padding-top: 20px;
	color:#e6410f;
	font-weight:bold;
	}

button {
	color:#f6f8f2;
	background-color:#ff7f7f;
}	

.idPageNum,.limit  {
	width:100px;
}

header {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top:10px;
}
